<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/hl.css" />
    <link rel="icon" href="../src/imges/长.png" style="width: 30px" />
  </head>

  <body>
    <div id="roomui">
      <div id="roomnav">
        <div id="left">
          <!-- <img src="/src/imges/7.png" alt=""> -->
          <h2>Bhopal Medi - Center</h2>
        </div>
        <div id="mid">
          <input
            type="search"
            placeholder="find hotel / lounge and many more"
          />
          <i class="ri-search-line"></i>
        </div>
        <div id="right">
          <a href=""><i class="ri-home-fill"></i></a>
          <a href=""><i class="ri-bookmark-3-fill"></i></a>
          <a href=""><i class="ri-map-pin-fill"></i></a>
          <!-- <button><i class="ri-login-box-fill"></i>
                    <h6>
                        Login/Signup
                    </h6>
                    <div class="dot"></div>
                </button> -->
        </div>
      </div>
      <div id="secondarynav">
        <div id="left" class="gridleft">
          <h3>Room name</h3>
        </div>
        <div id="mid" class="gridmid">
          <h3>Location</h3>
          <h3>Insurance Tags</h3>
        </div>
        <div id="right" class="gridright">
          <h3 class="status">Action</h3>
          <!-- <button>
                    <i class="ri-calendar-2-line"></i>
                    <h6>Schedule</h6>
                    <div class="dot"></div>
                </button> -->
        </div>
        <!-- <div class="calendar">
                <div class="calendar-header">
                    <span class="month-picker" id="month-picker">February</span>
                    <div class="year-picker">
                        <span class="year-change" id="prev-year">
                            <pre></pre>
                        </span>
                        <span id="year">2021</span>
                        <span class="year-change" id="next-year">
                            <pre>></pre>
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>
                <div class="calendar-footer">
                    <div class="toggle">
                        <div class="dark-mode-switch">
                            <div class="dark-mode-switch-ident"></div>
                        </div>
                    </div>
                </div>
                <div class="month-list"></div>
            </div> -->
      </div>

      <div id="roomtable">
        <div class="roomrows">
          <div class="roomleft gridleft">
            <img
              src="https://images.jdmagicbox.com/comp/bhopal/c3/0755px755.x755.150704210015.a4c3/catalogue/dr-vidyanand-tripathi-bansal-hospital--shahpura-arera-colony-bhopal-nephrologists-a98je.jpg?temp=1"
              alt=""
            />
            <div class="roomdets">
              <span>#CashLess</span>
              <h4>Bansal Hospital Bhopal</h4>
            </div>
          </div>
          <div class="roommid gridmid">
            <p>Chunna Bhatti Road</p>
            <div class="tags">
              <div class="tag tag1">
                <p>ICICI</p>
              </div>
              <div class="tag tag2">
                <p>SBI Gen.</p>
              </div>
            </div>
          </div>
          <div class="roomright gridright">
            <div class="action">
              <!-- <p class="booked">Booked</p>
                        <h4>Feb 26th - 28th</h4> -->
              <i class="ri-chat-4-line"></i>
              <h5>Send Message</h5>
            </div>
            <div class="more">
              <!-- <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div> -->
              <i class="ri-phone-line"></i>
              <h5>Call</h5>
            </div>
            <!-- <button>
                        <i class="ri-calendar-2-line"></i>
                        Check Schedule
                    </button> -->
          </div>
        </div>
        <div class="roomrows">
          <div class="roomleft gridleft">
            <img
              src="https://scontent.fbho3-2.fna.fbcdn.net/v/t39.30808-6/273384481_111211324807248_59365415861407857_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=99M5ySLhtTMAX-SpKiY&_nc_ht=scontent.fbho3-2.fna&oh=00_AfBAZQAMCXgNEAl91N6RTLq3OzoIxoVoz5HiP0Habo0gFQ&oe=642370D8"
              alt=""
            />
            <div class="roomdets">
              <span>#CashLess</span>
              <h4>Trinity Multispeciality Hospital</h4>
            </div>
          </div>
          <div class="roommid gridmid">
            <p>Silver Crest Colony</p>
            <div class="tags">
              <div class="tag tag2">
                <p>SBI Gen.</p>
              </div>
              <div class="tag tag4">
                <p>Aditya Birla</p>
              </div>
              <div class="tag tag3">
                <p>Star Health</p>
              </div>
              <div class="tag tag5">
                <p>MAX Bupa</p>
              </div>
            </div>
          </div>
          <div class="roomright gridright">
            <div class="action">
              <i class="ri-chat-4-line"></i>
              <h5>Send Message</h5>
            </div>
            <div class="more">
              <!-- <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div> -->
              <i class="ri-phone-line"></i>
              <h5>Call</h5>
            </div>
            <!-- <button>
                        <i class="ri-calendar-2-line"></i>
                        Check Schedule
                    </button> -->
          </div>
        </div>
        <div class="roomrows">
          <div class="roomleft gridleft">
            <img
              src="https://images.jdmagicbox.com/comp/jalandhar/s9/0181px181.x181.190408104138.l3s9/catalogue/aggarwal-liver-and-gut-superspeciality-hospital-jalandhar-jalandhar-hospitals-0sdpacmglg.jpg?clr=660000&temp=1"
              alt=""
            />
            <div class="roomdets">
              <span>#Cash+Less</span>
              <h4>Aggarwal Hospital</h4>
            </div>
          </div>
          <div class="roommid gridmid">
            <p>Arera Colony</p>
            <div class="tags">
              <div class="tag tag1">
                <p>SBI Gen.</p>
              </div>
              <div class="tag tag3">
                <p>Star Health</p>
              </div>
              <div class="tag tag4">
                <p>Aditya Birla</p>
              </div>
            </div>
          </div>
          <div class="roomright gridright">
            <div class="action">
              <!-- <p class="status">Available</p> -->
              <i class="ri-chat-4-line"></i>
              <h5>Send Message</h5>
            </div>
            <div class="more">
              <!-- <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div> -->
              <i class="ri-phone-line"></i>
              <h5>Call</h5>
            </div>
            <!-- <button>
                        <i class="ri-calendar-2-line"></i>
                        Check Schedule
                    </button> -->
          </div>
        </div>
        <div class="roomrows">
          <div class="roomleft gridleft">
            <img
              src="https://www.vaidam.com/sites/default/files/hospitals/2nd-min_0.jpg"
              alt=""
            />
            <div class="roomdets">
              <span>#OnlyCash</span>
              <h4>Sunshine Hospital</h4>
            </div>
          </div>
          <div class="roommid gridmid">
            <p>Jyoti Parisar</p>
            <div class="tags">
              <div class="tag tag2">
                <p>SBI Gen.</p>
              </div>
              <div class="tag tag4">
                <p>Aditya Birla</p>
              </div>
              <div class="tag tag5">
                <p>MAX Bupa</p>
              </div>
            </div>
          </div>
          <div class="roomright gridright">
            <div class="action">
              <i class="ri-chat-4-line"></i>
              <h5>Send Message</h5>
            </div>
            <div class="more">
              <!-- <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div> -->
              <i class="ri-phone-line"></i>
              <h5>Call</h5>
            </div>
          </div>
        </div>
        <div class="roomrows">
          <div class="roomleft gridleft">
            <img
              src="https://images1-fabric.practo.com/gsm-hospital-bhopal-1450334549-567259559fc41.JPG"
              alt=""
            />
            <div class="roomdets">
              <span>#CashLess</span>
              <h4>G.S.M. Hospital</h4>
            </div>
          </div>
          <div class="roommid gridmid">
            <p>Old MLA Quarters</p>
            <div class="tags">
              <div class="tag tag1">
                <p>SBI Gen.</p>
              </div>
              <div class="tag tag2">
                <p>SBI Gen.</p>
              </div>
              <div class="tag tag4">
                <p>Aditya Birla</p>
              </div>
              <div class="tag tag3">
                <p>Star Health</p>
              </div>
            </div>
          </div>
          <div class="roomright gridright">
            <div class="action">
              <i class="ri-chat-4-line"></i>
              <h5>Send Message</h5>
            </div>
            <div class="more">
              <!-- <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div> -->
              <i class="ri-phone-line"></i>
              <h5>Call</h5>
            </div>
          </div>
        </div>
      </div>

      <h2>Showing 4 out of 20 results</h2>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
      integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/room.js"></script>
  </body>
</html>
