<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/hospitalDb.css" />
    <link rel="icon" href="../src/imges/长.png" style="width: 30px" />
  </head>
  <body>
    <!-- <div id="roomnav">
      
      <div id="mid">
        <input type="search" placeholder="find policies by name/provider" />
        <i class="ri-search-line"></i>
      </div>
      <div id="right">
        <a href=""><i class="ri-home-fill"></i></a>
        <a href=""><i class="ri-bookmark-3-fill"></i></a>
        <a href=""><i class="ri-map-pin-fill"></i></a>
        
      </div>
    </div> -->

    <div id="maindiv">
      <div id="sidenav">
        <h3>__hospitalName</h3>
        <div id="dashboard">
          <p>DASHBOARD</p>
          <a href="#">
            <div class="dashboarditems active" id="home">
              <i class="ri-home-5-line icons"></i>
              <p class="entries">Home</p>
            </div>
          </a>
          <a href="#">
            <div class="dashboarditems" id="app">
              <i class="ri-calendar-2-line icons"></i>
              <p class="entries">Appointments</p>
            </div>
          </a>
          <a href="/hospitalDb_pat">
            <div class="dashboarditems" id="pat">
              <i class="ri-user-add-line icons"></i>
              <p class="entries">Patients</p>
            </div>
          </a>
          <a href="#">
            <div class="dashboarditems" id="pr">
              <i class="ri-book-read-line icons"></i>
              <p class="entries">Pending Request</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <script src="/javascripts/hospitalDb.js"></script>
  </body>
</html>
