<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section id="navbar">
      <div id="navlist">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/patient">about</a></li>
          <li><a href="/hospitalDb">help</a></li>
          <li><a href="/insuranceDb">contact</a></li>
        </ul>
      </div>
    </section>

    <section id="main">
      <div id="textdiv">
        <h1>Welcome To ClaimConnect, 😃</h1>
        <p>
          Stop banging your head against the wall and let
          <span> CLAIM-CONNECT </span> handle your insurance claims. We promise
          it won't hurt as much!
        </p>
      </div>
      <div id="slide">
        <div id="tag">Hospital List</div>
        <div id="head">
          <h4>Let's search relevant <span>hostpitals and insurances</span></h4>
          <a href="/hospitals"
            ><h5>View all <i class="ri-arrow-right-line"></i></h5
          ></a>
        </div>
        <!-- Swiper -->
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h4>Bansal Hospital Bhopal</h4>
              <h5 style="color: #445578">
                Hospitality <i class="ri-star-fill"></i> 4.6
              </h5>
              <h5>#CashLess</h5>
              <h5>
                <i class="ri-map-pin-line" style="color: #6da7ff"></i> Chunna
                Bhatti Road
              </h5>
              <div class="tags">
                <div class="tag tag1">
                  <p>ICICI</p>
                </div>
                <div class="tag tag2">
                  <p>SBI Gen.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <h4>Trinity Multispeciality Hospital</h4>
              <h5 style="color: #445578">
                Hospitality <i class="ri-star-fill"></i> 4.4
              </h5>
              <h5>#CashLess</h5>
              <h5>
                <i class="ri-map-pin-line" style="color: #6da7ff"></i> Silver
                Crest Colony
              </h5>
              <div class="tags">
                <div class="tag tag2">
                  <p>SBI Gen.</p>
                </div>
                <div class="tag tag4">
                  <p>Aditya Birla</p>
                </div>
                <div class="tag tag3">
                  <p>Star Health</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <h4>Aggarwal Hospital</h4>
              <h5 style="color: #445578">
                Hospitality <i class="ri-star-fill"></i> 4.2
              </h5>
              <h5>#Cash+Less</h5>
              <h5>
                <i class="ri-map-pin-line" style="color: #6da7ff"></i> Arera
                Colony
              </h5>
              <div class="tags">
                <div class="tag tag1">
                  <p>ICICI</p>
                </div>
                <div class="tag tag4">
                  <p>Aditya Birla</p>
                </div>
                <div class="tag tag5">
                  <p>MAX Bupa</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <h4>Sunshine Hospital</h4>
              <h5 style="color: #445578">
                Hospitality <i class="ri-star-fill"></i> 3.8
              </h5>
              <h5>#OnlyCash</h5>
              <h5>
                <i class="ri-map-pin-line" style="color: #6da7ff"></i> Jyoti
                Parisar
              </h5>
              <div class="tags">
                <div class="tag tag2">
                  <p>SBI Gen.</p>
                </div>
                <div class="tag tag3">
                  <p>Star Health</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <h4>G.S.M. Hospital</h4>
              <h5 style="color: #445578">
                Hospitality <i class="ri-star-fill"></i> 4.0
              </h5>
              <h5>#CashLess</h5>
              <h5>
                <i class="ri-map-pin-line" style="color: #6da7ff"></i> Old MLA
                Quarters
              </h5>
              <div class="tags">
                <div class="tag tag4">
                  <p>Aditya Birla</p>
                </div>
                <div class="tag tag3">
                  <p>Star Health</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <h4>Asian Globus Hospital</h4>
              <h5 style="color: #445578">
                Hospitality <i class="ri-star-fill"></i> 4.1
              </h5>
              <h5>#CashLess</h5>
              <h5>
                <i class="ri-map-pin-line" style="color: #6da7ff"></i> Lake View
                Road
              </h5>
              <div class="tags">
                <div class="tag tag1">
                  <p>SBI Gen.</p>
                </div>
                <div class="tag tag2">
                  <p>SBI Gen.</p>
                </div>
                <div class="tag tag4">
                  <p>Aditya Birla</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next lrbtn"></div>
          <div class="swiper-button-prev lrbtn"></div>
        </div>
      </div>
    </section>

    <section id="second">
      <div id="second-sub">
        <p>Grab some popcorn, sit back, 🍿</p>
        <h1>
          Have the cinematic experience of understanding 
          <span> how we works! </span>
        </h1>
      </div>
      <div id="bgdiv">
        <div id="videodiv">
          <video src="/images/animation.mp4" autoplay controls muted></video>
          <h3>Lorem ipsum amet consectetur adipisicing elit.</h3>
          <button>Take a toor</button>
        </div>
        <div id="checkdiv">
          <div class="checkpoints">
            <i class="ri-checkbox-circle-fill"></i>
            <div class="content">
              <h4>User's End (Patient)</h4>
              <p>
                include features such as notifications and alerts to keep users updated on the status of their claims
              </p>
            </div>
          </div>
          <div class="checkpoints">
            <i class="ri-checkbox-circle-fill"></i>
            <div class="content">
              <h4>Hospital's End</h4>
              <p>
                list of all the claims filed by the hospital, including the status of each claim & the amount of the claim
              </p>
            </div>
          </div>
          <div class="checkpoints">
            <i class="ri-checkbox-circle-fill"></i>
            <div class="content">
              <h4>Insurance Comp. End's</h4>
              <p>
                a user-friendly tool that streamlines the claims process and improves communication between above two.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".swiper", {
        slidesPerView: 3,
        direction: getDirection(),
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
  </body>
</html>
