<section id="second">
      <div id="second-sub">
        <p>Grab some popcorn, sit back, 🍿</p>
        <h1>
          Have the cinematic experience of understanding 
          <span> how we works! </span>
        </h1>
      </div>
      <div id="bgdiv">
        <div id="videodiv">
          <video src="/images/animation.mp4" autoplay controls muted></video>
          <h3>Lorem ipsum amet consectetur adipisicing elit.</h3>
          <button>Take a toor</button>
        </div>
        <div id="checkdiv">
          <div class="checkpoints">
            <i class="ri-checkbox-circle-fill"></i>
            <div class="content">
              <h4>User's End (Patient)</h4>
              <p>
                include features such as notifications and alerts to keep users updated on the status of their claims
              </p>
            </div>
          </div>
          <div class="checkpoints">
            <i class="ri-checkbox-circle-fill"></i>
            <div class="content">
              <h4>Hospital's End</h4>
              <p>
                list of all the claims filed by the hospital, including the status of each claim & the amount of the claim
              </p>
            </div>
          </div>
          <div class="checkpoints">
            <i class="ri-checkbox-circle-fill"></i>
            <div class="content">
              <h4>Insurance Comp. End's</h4>
              <p>
                a user-friendly tool that streamlines the claims process and improves communication between above two.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>